$titleSize: 20px;
$navbarColor: #343a40;
$navmenuColor: #878b8e;
$cardbottom: #f7f7f7;
$cartbutton: #027bff;
$shopPriceBackgroud: #f7f7f7;
$bordergrey: 1px solid rgba(0, 0, 0, 0.2);

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  background-color: $navbarColor;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;

  .navbar__left {
    align-items: center;
    display: flex;
  }

  .logo {
    color: white;
    font-size: $titleSize;
  }

  .navbar__menu {
    display: flex;
    list-style: none;
    color: $navmenuColor;
  }

  .navbar__menu__item {
    padding: 0px 5px;
    margin: 0px 5px;
    cursor: pointer;
  }

  .active {
    color: white;
  }

  .navbar__button {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    border: none;
    margin: 0px 5px;
  }
}

#shop {
  padding: 50px;
  display: flex;
  flex-direction: column;

  .searchBox {
    width: 100%;
    height: 30px;
    border: $bordergrey;
    border-radius: 5px;
  }

  .shop__bottom {
    display: flex;
  }

  .shop__category {
    width: 70%;
  }

  .shop__list {
    display: flex;
  }

  .shop__list__item {
    width: 100%/4;
    border: $bordergrey;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: move;
  }

  .shop__list__item--title {
    font-weight: bold;
    padding: 0px 10px;
    margin-bottom: 0px;
  }

  .shop__list__item--brand {
    padding: 0px 10px;
  }

  .shop__list__item--img {
    width: 200px;
    height: 60%;
  }

  .shop__list__item--price {
    display: inline-block;
    background-color: $shopPriceBackgroud;
    width: 100%;
    padding: 10px;
    border-top: $bordergrey;
  }

  .shop__cart {
    width: 400px;
    height: 100%;
  }

  .shop__cart__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: $bordergrey;
    width: 100%;
    height: 100%;
  }

  .shop__cart__card--box {
    margin: 20px auto;
    width: 90%;
    background-color: $navbarColor;
    text-align: center;
  }

  .shop__cart__card--box span {
    line-height: 250px;
    color: white;
  }

  .shop__cart__card--totlPrice {
    align-self: flex-end;
    padding: 0px 20px;
    margin-top: 0px;
  }

  .shop__cart__card--button {
    background-color: $cartbutton;
    padding: 10px;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .shop__list__item--title span {
    background-color: #ff9;
    color: #555;
  }

  .shop__list__item.dragging {
    opacity: 0.5;
  }

  .cartlist__product {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .cartlist__product__item {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: flex-start;
  }

  .cartlist__product span {
    line-height: 0px;
    display: inline-block;
    color: black;
  }

  .cartlist__product__option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cartlist__product__img {
    width: 200px;
  }

  .cartlist__product__title {
    font-weight: bold;
    margin-bottom: 0px;
  }

  .cartlist__product__brand {
    margin: 0px;
  }

  .cartlist__product__quantity {
    width: 30px;
    display: inline-block;
    margin-left: 5px;
  }

  .cartlist__product__price {
    margin-top: 0px;
  }

  .cartlist__product__text {
    display: inline-block;
  }
}
