$titleSize: 20px;
$marginSpace: 10px;
$navbarColor: #343a40;
$navMenuItemColor: #878b8e;
$shopItemBottom: #f7f7f7;
$cartButton: #027bff;
$shopPriceBackgroud: #f7f7f7;
$white: #ffffff;
$borderGrey: 1px solid rgba(0, 0, 0, 0.2);
%blueBtn {
  border: none;
  outline: none;
  background-color: #027bff;
  color: $white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 30px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

li {
  list-style: none;
}

body {
  margin: 0px;
}

h3 {
  font-weight: 500;
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: $navbarColor;
  padding: $marginSpace;

  .navbar__container {
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
  }

  .navbar__logoAndList {
    display: flex;
    text-align: center;
    height: 100%;
  }

  .navbar__logo {
    color: $white;
    font-size: $titleSize;
  }

  .navbar__list {
    display: flex;
    color: $navMenuItemColor;
    align-self: center;
  }

  .navbar__list__item {
    margin: 0px $marginSpace;
  }

  .navbar__list__item.active {
    color: $white;
  }
}

#searchBox {
  width: 95%;
  max-width: 1200px;
  height: 30px;
  display: block;
  margin: $marginSpace * 2;
  border: $borderGrey;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 0px $marginSpace * 2;
  max-width: 1200px;

  .shop {
    display: flex;
    flex-direction: column;
  }

  .cart {
    display: flex;
    flex-direction: column;
  }

  .shop__itemList {
    display: flex;
  }

  .shop__itemList__item {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-right: $marginSpace * 2;
    border: $borderGrey;
    position: relative;
    cursor: move;
  }

  .shop__itemList__img {
    height: 170px;
  }

  .shop__itemList__item--productName,
  .shop__itemList__item--branName {
    margin: $marginSpace;
  }

  .shop__itemList__item--branName {
    margin-top: 0px;
  }

  .shop__itemList__item--price {
    position: absolute;
    bottom: 0px;
    display: block;
    background-color: $shopItemBottom;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: $marginSpace;
  }

  .cart__cartBox {
    position: relative;
    border: $borderGrey;
    padding: $marginSpace;
    display: flex;
    flex-direction: column;
  }

  .cart__cartBox__dropArea {
    width: 250px;
    height: 250px;
    background-color: $navbarColor;
    text-align: center;
    line-height: 250px;
    margin-bottom: $marginSpace;
    color: $white;
  }

  .cart__cartBox__itemList--item img {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .cartItem__productName {
    margin-bottom: 0px;
  }

  .cartItemQuantity__label {
    font-size: 14px;
    width: 30px;
    height: 20px;
    text-align: center;
    display: inline-block;
    background-color: $shopItemBottom;
    border: $borderGrey;
  }

  .cartItemInput {
    height: 20px;
    border: $borderGrey;
  }

  .cart__cartBox__totalPrice {
    display: inline-block;
    margin-bottom: $marginSpace * 3;
  }

  .cart__cartBox__purchaseBtn {
    @extend %blueBtn;
  }

  .purchase__modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 50%;
    height: 50%;
    border: $borderGrey;
    padding: 30px;

    .purchase__modal__cancelBtn {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background-color: transparent;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    input {
      width: 50%;
      height: 30px;
    }

    span {
      display: block;
      margin-top: $marginSpace * 2;
    }

    .purchase__modal__submitBtn {
      @extend %blueBtn;
    }
  }

  .blackBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .receiptContainer {
    display: none;
  }

  #receipt {
    background-color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: $borderGrey;
    z-index: 10;
  }

  .receiptBtn {
    position: absolute;
    top: 75%;
    left: 65%;
    z-index: 20;
  }

  .highlight {
    background-color: yellow;
    color: yellow;
  }
}
